.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #00b200;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s;
  color: #fff;
  background: #00b200 none;

  &:active {
    color: #fff;
    background-color: transparent;
  }
}